<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="~/CSS/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="~/JS/weatherScript.js"></script>
    <script src="~/JS/NewsScript.js"></script>

    <title>SmartMirror</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                <div id="WeatherApp">
                    <div class="row">
                        <div id="CurrentWeather" class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                                    <div>
                                        <img id="WeatherIcon" src="#" alt="Alternate Text" />
                                    </div>
                                </div>
                                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                                    <div id="WeatherInfo">
                                        <p id="City">No Data Available</p>
                                        <p id="WeatherTemp">No Data Available</p>
                                        <p id="WeatherDescription">No Data Available</p>
                                        <p id="WeatherWindDirection">No Data Available</p>
                                        <p id="WeatherWindSpeed">No Data Available</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    </div>
                    <div id="LongTermForecast" class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div id="day1" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                    <p><img id="d1I" src="#" alt="No Data Available" /></p>
                                    <p id="d1N">No Data Available</p>
                                    <p id="d1T">No Data Available</p>
                                </div>
                                <div id="day2" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                    <p><img id="d2I" src="#" alt="No Data Available" /></p>
                                    <p id="d2N">No Data Available</p>
                                    <p id="d2T">No Data Available</p>
                                </div>
                                <div id="day3" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                    <p><img id="d3I" src="#" alt="No Data Available" /></p>
                                    <p id="d3N">No Data Available</p>
                                    <p id="d3T">No Data Available</p>
                                </div>
                                <div id="day4" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                    <p><img id="d4I" src="#" alt="No Data Available" /></p>
                                    <p id="d4N">No Data Available</p>
                                    <p id="d4T">No Data Available</p>
                                </div>
                                <div id="day5" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                    <p><img id="d5I" src="#" alt="No Data Available" /></p>
                                    <p id="d5N">No Data Available</p>
                                    <p id="d5T">No Data Available</p>
                                </div>
                                <div id="day6" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                                    <p><img id="d6I" src="#" alt="No Data Available" /></p>
                                    <p id="d6N">No Data Available</p>
                                    <p id="d6T">No Data Available</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="Location" class="row">
                        <div id="City" class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div>
                                    <label>City</label>
                                </div>
                                <div>
                                    <input type="text" id="CityName" name="CityName"><br>
                                </div>
                            </div>
                        </div>
                        <div id="Country" class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                            <div>
                                <div>
                                    <label>Country</label>
                                </div>
                                <div>
                                    <input type="text" id="CountryName" name="CountryName"><br>
                                </div>
                            </div>
                        </div>
                        <div id="SearchBtn" class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <button id="LocationBtn" type="button">Search</button>
                        </div>
                    </div>
                </div>
                <div id="SpotifyApp" class="row">
                    <div id="SpotifyControl" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <script src="https://sdk.scdn.co/spotify-player.js"></script>
                        <script>
                            window.onSpotifyWebPlaybackSDKReady = () => {
                                // You can now initialize Spotify.Player and use the SDK
                            };
                        </script>
                        <script src="~/JS/SpotifyScript.js"></script>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label id="currentSong"></label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <label id="nextSong"></label>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <label id="durationSong"></label>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <button id="togglePlay"><img src="#" alt="<>" /></button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <button id="previousTrack"><img src="#" alt="<>" /></button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <button id="nextTrack"><img src="#" alt="<>" /></button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <button id="volDown"><img src="#" alt="<>" /></button>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <button id="volUp"><img src="#" alt="<>" /></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div id="NewsApp">
                    <div class="row">
                        <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
                            <input type="text" id="SearchTerm" name="SearchTerm"><br>
                        </div>
                        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <button id="NewsBtn" type="button">Search</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p id="NewsText">Your News</p>
                            <div id="NewsFeed">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
